<div class="container">
    <p class="title__feedback ls2fw500 align-center mbr-fonts-style display-4">YOUR FEEDBACK</p>
    <div class="row justify-content-center">
        <form action="submit-feedback.php" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
            
            <button type="submit">Send Feedback</button>
          </form>          
</div>
    <div class="socials text-white">
         <p class="title__social ls2fw500 align-center mbr-fonts-style display-4">CONTACT US</p>
        <div class="icons-menu">
        <div class="soc-item">
            <a href="https://mobirise.com/" target="_blank" class="social__link">
              <span class="fa-brands fa-instagram" style="font-size: 16px;"></span>
            </a>
          </div><div class="soc-item">
            <a href="https://mobirise.com/" target="_blank" class="social__link">
              <span class="fa-brands fa-twitter" style="font-size: 16px;"></span>
            </a>
          </div><div class="soc-item">
            <a href="https://mobirise.com/" target="_blank" class="social__link">
              <span class="fa-brands fa-facebook" style="font-size: 16px;"></span>
            </a>
          </div><div class="soc-item">
            <a href="https://mobirise.com/" target="_blank" class="social__link">
              <span class="fa-brands fa-whatsapp" style="font-size: 16px;"></span>
            </a>
          </div><div class="soc-item">
            <a href="https://mobirise.com/" target="_blank" class="social__link">
              <span class="fa-brands fa-pinterest" style="font-size: 16px;"></span>
            </a>
          </div></div>
    </div>
</div>


