.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    background-color: aliceblue;
  }

  .title__feedback {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
  }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    background-color: #5FCAC7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    color: #000000;
    border: 1px solid #5FCAC7;
    background-color: #fff;
  }
  
  
  .socials {
    margin-top: 40px;
    text-align: center;
  }
  
  .title__social {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
  }
  
  .soc-item {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social__link {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: #5FCAC7;
    color: #fff;
  }
  
  .social__link:hover {
    background-color: #fff;
    color: #000000;
    border: 1px solid #5FCAC7;
  }
  