<section class="footer1 cid-rNPqI5iwy5" id="footer1-l">
	<div class="container">
	  <div class="row justify-content-between align-items-center wrapper">
		<div class="col-lg-4 col-sm-6 text-sm-right text-lg-left order-1 order-lg-0" style="margin-left: 100px;">
		  <ul class="foot__menu justify-content-center justify-content-sm-start">
			<li class="menu__items mbr-fonts-style display-4">About us</li>
			<li class="menu__items mbr-fonts-style display-4">Product</li>
			<li class="menu__items mbr-fonts-style display-4">Contact</li>
			<li class="menu__items mbr-fonts-style display-4">Merchandise</li>
		  </ul>
		</div>
		<div class="mb-lg-0 col-lg-auto order-0 text-center brand">
		  <img class="logo__image" src="../../assets/images/footerimg.png" alt="bakerz" title="">
		</div>
		<div class="social">
			<i class="fa-brands fa-instagram"></i>
			<i class="fa-brands fa-twitter"></i>
			<i class="fa-brands fa-whatsapp"></i>
			<i class="fa-brands fa-pinterest"></i>
			<i class="fa-brands fa-facebook"></i>
		</div>
		
	  </div>
	  <div class="row justify-content-center">
		<div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 text-center privacy" style="margin-left: 300px;">
		  <p class="mbr-text mbr-fonts-style display-4">© Copyright 2023
			Bakerz Bite - All Rights Reserved
		  </p>
		</div>
	  </div>
	</div>
  </section>
  