<div class="home">
  <nav class="navbar">
    <img class="logo" src="../../assets/images/head-logo.jpeg" alt="Logo image">
    <ul class="menu">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/product">Product</a></li>
      <li><a routerLink="/product">Product</a></li>
      <li><a routerLink="/product">Product</a></li>
      <li><a routerLink="/product">Product</a></li>
    </ul>
  </nav>
  <div class="home-img">
    <div class="intro">
      <h1>Welcome to bakerz bite</h1>
      <p>Opening Hours</p>
      <p>Mondey-Friday: 07:30 AM - 23:00 PM</p>
      <p>Weekends: 07:30 AM - 03:00 PM</p>
      <button type="button">
        Learn more
      </button>
    </div>
  </div>
</div>